<div class="p-6 min-w-screen">
    <!-- Heading Section -->
    <div class="mb-6">
        <h1 class="text-3xl font-semibold text-red-700">Blood Request </h1>
    </div>

    <!-- Table Section -->
    <div class="overflow-x-auto bg-white shadow-lg rounded-lg">
        <table class="min-w-full table-auto">
            <!-- Table Header -->
            <thead>
                <tr class="bg-red-100">
                    <th class="py-5 px-4 text-left text-sm font-medium text-gray-700">Blood Group</th>
                    <th class="py-5 px-4 text-left text-sm font-medium text-gray-700">Required Unit</th>
                    <th class="py-5 px-4 text-left text-sm font-medium text-gray-700">Reason</th>
                    <th class="py-5 px-4 text-left text-sm font-medium text-gray-700">Request start Date</th>
                    <th class="py-5 px-4 text-left text-sm font-medium text-gray-700">Request End Date</th>
                    <th class="py-5 px-4 text-left text-sm font-medium text-gray-700">Phone Number</th>
                    <th class="py-5 px-4 text-left text-sm font-medium text-gray-700">Priority</th>
                    <th class="py-5 px-4 text-left text-sm font-medium text-gray-700">Request given</th>
                    <th class="py-5 px-4 text-left text-sm font-medium text-gray-700">Accept</th>
                </tr>
            </thead>

            <!-- Table Body -->
            <tbody *ngFor="let usersblood of usersBloodRequest">
                <tr class="hover:bg-red-50 transition" *ngIf="usersblood.userid != acceptoruserid && usersblood.fullfillmentstatus == 'Pending'">
                    <td class="py-5 px-4 text-sm text-gray-800">{{usersblood.bloodgroup}}</td>
                    <td class="py-5 px-4 text-sm text-gray-800">{{usersblood.requiredunit}}</td>
                    <td class="py-5 px-4 text-sm text-gray-800">{{usersblood.reason}}</td>
                    <td class="py-5 px-4 text-sm text-gray-800">{{usersblood.requeststartdate}}</td>
                    <td class="py-5 px-4 text-sm text-gray-800">{{usersblood.requestenddate}}</td>
                    <td class="py-5 px-4 text-sm text-gray-800">{{usersblood.contactdetails}}</td>
                    <td class="py-5 px-4 text-sm text-gray-800">{{usersblood.priority}}</td>
                    <td class="py-5 px-4 text-sm text-gray-800">{{usersblood.role}}</td>
                    <td class="py-5 px-4 text-sm text-gray-800" *ngIf="usersblood.fullfillmentstatus == 'Pending' ">
                    <button class="bg-red-500 text-white px-4 py-2 rounded-lg hover:bg-red-700 transition" (click)="acceptRequest(usersblood.requestid,usersblood.bloodgroup,usersblood.requiredunit)" >Accept</button></td>
                </tr>
                
            </tbody>
        </table>
        
    </div>
</div>

