<div class="min-w-screen p-4">
    <!-- Heading Section -->
    <div class="mb-6">
      <h1 class="text-3xl font-semibold text-red-700">View Blood Availability</h1>
    </div>
  
    <!-- Circular Counter Cards -->
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
      <!-- card 1--> 
      <div  *ngFor="let blood of bloodCounts"
        class="bg-white shadow rounded-lg p-6 flex flex-col items-center"
      >
        <div class="relative">
          <!-- Circular Progress -->
          <svg
            class="w-24 h-24 text-gray-200"
            aria-hidden="true"
            fill="none"
            viewBox="0 0 36 36"
            xmlns="http://www.w3.org/2000/svg"
          >
            <circle
              class="text-gray-300"
              stroke="currentColor"
              stroke-width="4"
              fill="none"
              cx="18"
              cy="18"
              r="16"
            ></circle>
            
            <circle
              class="text-red-700"
              [attr.stroke-dasharray]="getProgress(blood.count)"
              stroke-linecap="round"
              stroke="currentColor"
              stroke-width="4"
              fill="none"
              cx="18"
              cy="18"
              r="16"
            ></circle>
          </svg>
          <!-- Count Text -->
          <span
            class="absolute inset-0 flex items-center justify-center text-2xl font-bold text-red-700"
          >
         {{blood.count}} 
            <!-- {{blood.Count}} -->
          </span>
        </div>
        <!-- Blood Group Label -->
        <h3 class="mt-4 text-lg font-semibold text-gray-900">{{blood.group}}</h3>
        <!-- {{blood.Count}} -->
      </div>
      
      
<!-- {{bloodAvailability.a_plus}} -->



    </div>
    
      

  </div>

