<div class="bg-red-600 text-white shadow-md">
  <nav class="flex items-center justify-between px-6 py-4">
    <div class="text-2xl font-bold flex">
      <div class="top-1/2 p-1">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-medicine-syrup">
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M8 21h8a1 1 0 0 0 1 -1v-10a3 3 0 0 0 -3 -3h-4a3 3 0 0 0 -3 3v10a1 1 0 0 0 1 1z" />
          <path d="M10 14h4" />
          <path d="M12 12v4" />
          <path d="M10 7v-3a1 1 0 0 1 1 -1h2a1 1 0 0 1 1 1v3" />
        </svg>
      </div>
      <div>Blood Bank App</div>
    </div>
    <div>
      <ul class="flex space-x-6 text-lg">
        <li>
          <a class="hover:text-gray-300" routerLink="/">Home</a>
        </li>
        <li>
          <a class="hover:text-gray-300" routerLink="/about">About</a>
        </li>
        <li *ngIf="!hardcodedAuthendication.isUserLoggedIn()">
          <a class="hover:text-gray-300" routerLink="/login">Login</a>
        </li>
        <li *ngIf="hardcodedAuthendication.isUserLoggedIn()">
          <a class="hover:text-gray-300" routerLink="/logout">Logout</a>
        </li>
        <li
          *ngIf="hardcodedAuthendication.isUserLoggedIn() && hardcodedAuthendication.getLoggedInUserRole() === 'user'">
          <a class="hover:text-gray-300" routerLink="/users/profile">Panel</a>
        </li>
        <li
          *ngIf="hardcodedAuthendication.isUserLoggedIn() && hardcodedAuthendication.getLoggedInUserRole() === 'admin'">
          <a class="hover:text-gray-300" routerLink="/admin/listofhospitals">Panel</a>
        </li>
        <li
          *ngIf="hardcodedAuthendication.isUserLoggedIn() && hardcodedAuthendication.getLoggedInUserRole() === 'hospital'">
          <a class="hover:text-gray-300" routerLink="/hospital/profile">Panel</a>
        </li>
        <li
          *ngIf="hardcodedAuthendication.isUserLoggedIn() && hardcodedAuthendication.getLoggedInUserRole() === 'blood bank'">
          <a class="hover:text-gray-300" routerLink="/blood-bank/dashboard">Panel</a>
        </li>
      </ul>
    </div>
  </nav>
</div>