<!-- Footer -->
<footer class="bg-red-700 text-white py-6">
    <div class="container mx-auto px-6">
      <div class="flex flex-col md:flex-row justify-between items-center">
        <!-- Footer Links -->
        <ul class="flex space-x-6 text-sm">
          <li>
            <a class="hover:text-gray-300" routerLink="/home">Home</a>
          </li>
          <li>
            <a class="hover:text-gray-300" routerLink="/about">About</a>
          </li>
          <li>
            <a class="hover:text-gray-300" routerLink="/terms-and-conditions">Privacy Policy</a>
          </li>
        </ul>
  
        <!-- Footer Info -->
        <p class="text-sm mt-4 md:mt-0">
          © 2025 Blood Bank App. All rights reserved.
        </p>
      </div>
    </div>
  </footer>
