<div class="w-64 bg-red-100 text-red-700 p-6  min-h-screen">
    <ul class="space-y-6">
      <!-- Dashboard Link -->
      
  
      <!-- Profile Link -->
      <li>
        <a 
          routerLink="/users/profile" 
          class="flex items-center p-3 space-x-4 rounded-lg hover:bg-red-500 hover:text-white transition-all duration-200 ease-in-out">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-red-700" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M5.121 17.804A10 10 0 119.88 6.196M15 21v-2a4 4 0 00-3.995-3.8H9a4 4 0 00-3.995 3.8V21m9-9h.01" />
          </svg>
          <span class="font-semibold text-lg">Profile</span>
        </a>
      </li>
      <li>
        <a 
          routerLink="/users/request" 
          class="flex items-center p-3 space-x-4 rounded-lg hover:bg-red-500 hover:text-white transition-all duration-200 ease-in-out">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-red-700" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3 10h11M9 21v-7M9 7V3m12 9v9a2 2 0 01-2 2h-6a2 2 0 01-2-2v-9m2-5V3h4v4m-4 5h4" />
          </svg>
          <span class="font-semibold text-lg">Request</span>
        </a>
      </li>
      <li>
        <a 
          routerLink="/users/requesthistory" 
          class="flex items-center p-3 space-x-4 rounded-lg hover:bg-red-500 hover:text-white transition-all duration-200 ease-in-out">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-red-700" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M5.121 17.804A10 10 0 119.88 6.196M15 21v-2a4 4 0 00-3.995-3.8H9a4 4 0 00-3.995 3.8V21m9-9h.01" />
          </svg>
          <span class="font-semibold text-lg">Request History</span>
        </a>
      </li>
      
    </ul>
  </div>
